body{
    background-color: aquamarine
}
header{
    text-align: center
}
#formcontainer {
    width:50%;
    margin:auto;
    min-height: 90%; 
    min-height: 90vh;
    display: flex;
    align-items: center;
}
div .form-row{
    width: 100%
}
#video{
    display: flex;
    align-items: center;
    justify-content: center;
}
#remotecontrol{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myvideo{
    width: 250px;
    height: 250px;
}
input {
    width: 100%
}