<!DOCTYPE html>
<html>
<head>
<title>Chat Time</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style/style.css">
</head>
<body onload="init()">
    <header>
      <h4>CHAT TIME</h4>
    </header>
<div id="formcontainer" class="align-middle">
</div>
<div id="video" >
    <div id="myvideo"></div>
</div>
<div id="remotecontrol"></div>
<script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.4-latest.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="Model/Model.js"></script>
<script src="Controller/controller.js"></script>
<script src="View/view.js"></script>
</body>
</html>
